# .ebextensions/00lacework.config
files:
  "/var/lib/lacework/config/config.json": 
    mode: "000640"
    owner: root
    group: root
    content: |
      {"platform": "elasticbeanstalk", "tokens": {"accesstoken": "578a575082d1422f06e31dd3ddafbc2dab7839e43247389433bbd077"}}

  "/tmp/lacework_install.sh":
    mode: "000700"
    owner: root
    group: root
    source: https://packages.lacework.net/install.sh

  "/tmp/lw_install.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ ! -f /var/lib/lacework/datacollector ]; then
          /tmp/lacework_install.sh
      fi

commands:
    00setup_lacework:
        command: "/tmp/lw_install.sh"
